<%= form_with(model: servico) do |form| %>

<div class="flash-msg hide" ><%= render 'layouts/error_messages', object: form.object %></div>

  <div class="row">
    <div class="col-sm-2">
      <div class="form-group mb-2">
        <%= form.label :data %>
        <%= form.datetime_local_field :data, value: @servico.data.present? ? @servico.data.strftime('%Y-%m-%dT%H:%M') : Time.now.strftime('%Y-%m-%dT%H:%M'), class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group mb-2">
        <%= form.label :cliente %>
        <%= form.text_field :cliente, class: "form-control text-uppercase" %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group mb-2">
        <%= form.label :veiculo, 'Veículo' %>
        <%= form.text_field :veiculo, class: "form-control text-uppercase" %>
      </div>
    </div>
    
  </div>
  
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group mb-2">
        <%= form.label :servico, 'Serviço' %>
        <%= form.select :servico, @tipos_servico.map { |t| [t.tipo.upcase] },{}, class: "form-control text-uppercase" %>
      </div>
    </div> 
    <div class="col-sm-2 mt-4">
      <%= link_to "Adicionar Serviço", new_modal_tipos_servicos_path(rota: true), class: "btn btn-primary", data: { bs_toggle: "modal", bs_target: "#tipoServicoModal", remote: true  } %>
    </div>
    <div class="col-sm-2">
      <div class="form-group mb-2">
        <%= form.label :valor %>
        <%= form.text_field :valor, value: params[:action] == 'edit' ? numero_real(@servico.valor,2) : '', class: "form-control moeda" %>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group mb-2">
        <%= form.label :caixa %>
        <%= form.select :caixa, [["NORMAL"]] + @users.map { |u| [u.nome.upcase] },{}, class: "form-control" %>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="form-group mt-4">
        <%= form.label :pago %>
        <%= form.check_box :pago, class: "form-check-input" %>
      </div>
    </div>
  </div>


  
  
 
  <div class="card shadow p-3 mt-3 ">
    <div class="form-group ">
      <%= form.label :imagem, 'Imagem do Veículo', class:'mb-2' %>
      <%= form.file_field :imagem, capture: "environment", accept: "image/*", onchange: "showPreview(this);",  class: "form-control", id: "imagem_input"  %>
    </div>

    <div class="mt-3 text-center">
      <%= image_tag '', id: 'preview', class: 'hide ', style:'width: 70%' %>
    </div>

    <div class="p-2 text-center" >
      <% if @servico.imagem.present? %>
        <%= image_tag @servico.imagem, id:'teste_img', width:200 %>
      <% end %>
      <div>
        <%= link_to " Apagar foto", servico_apagar_foto_servico_path(@servico), method: :delete, id: "apagar-foto-link", class:"mt-2 bi bi-trash3 btn btn-danger" if @servico.imagem.present? %>
      </div>
    </div>
  </div>

  <div class="form-group mt-4">
    <%= form.submit "Salvar", class: "btn btn-primary me-2" %>
    <%= link_to "Voltar", servicos_path, class: "btn btn-primary active" %>
  </div>
   
<% end %>


  <!-- modal -->
 
<div class="modal fade" id="tipoServicoModal" tabindex="-1" aria-labelledby="tipoServicoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="tipoServicoModalLabel">Cadastrar novo tipo</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <div id="modalTipoServico">
      </div>
      </div>
    </div>
  </div>
</div>
  <!-- modal -->

 <script>
 
  $(document).ready(function(){
    $('.moeda').maskMoney({
      prefix: 'R$ ',
      decimal: ',',
      thousands: '.'
    });
  });

  function showPreview(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();

    reader.onload = function (e) {
      $('#preview')
        .attr('src', e.target.result)
        .removeClass('hide');
    };

    reader.readAsDataURL(input.files[0]);
  }
  }

  //função pra da o purge na foto
  $(document).ready(function() {
  $('#apagar-foto-link').on('click', function(event) {
    event.preventDefault();

      $.ajax({
        url: url,
        method: 'DELETE',
        headers: {
          'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
        },
        error: function(error) {
          console.error(error);
          alert("Erro ao apagar foto.");
        }
      });
    
  });
});


  </script>