<%= form_with(model: servico) do |form| %>

<div class="flash-msg hide"><%= render 'layouts/error_messages', object: form.object %></div>

  <div class="form-group mb-2">
    <%= form.label :data %>
    <%= form.datetime_local_field :data, value: @servico.data.present? ? @servico.data.strftime('%Y-%m-%dT%H:%M') : Time.now.strftime('%Y-%m-%dT%H:%M'), class: "form-control" %>
  </div>
  <div class="form-group mb-2">
    <%= form.label :cliente %>
    <%= form.text_field :cliente, class: "form-control text-uppercase" %>
  </div>
  <div class="form-group mb-2">
    <%= form.label :veiculo, 'Veículo' %>
    <%= form.text_field :veiculo, class: "form-control text-uppercase" %>
  </div>
  <div class="form-group mb-2">
    <%= form.label :servico, 'Serviço' %>
    <%= form.text_field :servico, class: "form-control text-uppercase" %>
  </div>
  <div class="form-group mb-2">
    <%= form.label :valor %>
    <%= form.text_field :valor, value: params[:action] == 'edit' ? numero_real(@servico.valor,2) : '', class: "form-control moeda" %>
  </div>
  <div class="form-group mb-2">
    <%= form.label :caixa %>
    <%= form.select :caixa, [["NORMAL"]] + @users.map { |u| [u.nome.upcase] },{}, class: "form-control" %>
  <div class="form-group mt-4">
    <%= form.label :pago %>
    <%= form.check_box :pago, class: "form-check-input" %>
  </div>
  <div class="card shadow p-3 mt-3 ">
    <div class="form-group ">
      <%= form.label :imagem, 'Imagem' %>
      <%= form.file_field :imagem, class: "form-control" %>
    </div>

    <div class="p-2"><%= image_tag @servico.imagem, width:100 if @servico.imagem.present? %></div>
  </div>

  <div class="form-group mt-4">
    <%= form.submit "Salvar", class: "btn btn-primary me-2" %>
    <%= link_to "Voltar", servicos_path, class: "btn btn-primary active" %>
  </div>
  
   
<% end %>
 <script>
  $(document).ready(function(){
    $('.moeda').maskMoney({
      prefix: 'R$ ',
      decimal: ',',
      thousands: '.'
    });
  });
  </script>