<div class="float-end">
  <a href="/servicos/new" class=" fs-1 ms-2"><i class="bi bi-plus-circle-fill"></i></a>
  <a href="/servicos/todos" class=" fs-1"><i class="bi bi-filter-circle-fill"></i></a>
</div>

<h1 class="">Serviços do dia</h1>
 
<div class="table-responsive mt-4">
  <table class="table">
    <thead>
      <tr>
        <th style="width: 15%">Data/Hora</th>
        <th style="width: 25%">Cliente</th>
        <th style="width: 25%">Serviço</th>
        <th>Valor</th>
        <th>Pago?</th>
        <th >Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @servicos_do_dia.each do |servico| %>
        <tr>
          <td><%= servico.data.strftime('%d/%m/%Y %H:%M') %></td>
          <td><%= servico.cliente.upcase %></td>
          <td><%= servico.servico.upcase %></td>
          <td class="moeda"><%= numero_real(servico.valor, 2) %></td>
          <td>
            <% if servico.pago %>
              <span class="badge rounded-pill bg-success">sim</span>
            <% else %>
              <span class="badge rounded-pill bg-danger">não</span>
            <% end %>
          </td>
          <td>
            <%#= link_to 'Show', servico %>
            <%= link_to '', edit_servico_path(servico), class:'btn btn-primary rounded-pill bi bi-pencil-square text-white fs-6'  %>
            <%= link_to '', servico, method: :delete, class: 'btn btn-primary rounded-pill bi bi-trash3-fill', data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>


