<div class="float-end">
  <a href="/servicos/new" class=" fs-1 ms-2"><i class="bi bi-plus-circle-fill"></i></a>
  <a href="/servicos/todos" class=" fs-1"><i class="bi bi-filter-circle-fill"></i></a>
</div>

<h1 class="mt-3">Serviços do dia</h1>

<div class=" d-flex justify-content-center mt-5 gap-4" >
  <div class="card shadow text-center text-bg-primary" style="width: 10rem">
    <h5 class="card-header">Valor</h5>
    <div class="card-body">
      <h5 class="card-title fw-bold" style="text-shadow: 1px 1px #000"><%= numero_real(@servicos_total,2) %></h5>
    </div>
  </div>
  <div class="card shadow text-center text-bg-secondary   " style="width: 10rem">
    <h5 class="card-header" >Quantidade</h5>
    <div class="card-body">
      <h5 class="card-title fw-bold" style="text-shadow: 1px 1px #000"><%= pluralize(@servicos_quantidade_diario, 'serviço', 'serviços') %></h5>
    </div>
  </div>
  <div class="card shadow text-center text-bg-danger" style="width: 10rem" >
    <h5 class="card-header" >Pagamento</h5>
    <div class="card-body ">
      <h5 class="card-title fw-bold" style="text-shadow: 1px 1px #000"><%= pluralize( @servicos_pago_pendedente , 'pendente', 'pendentes') %></h5>
    </div>
  </div>
</div>


 
<div class="table-responsive mt-4">
  <table class="table">
    <thead>
      <tr>
        <th style="width: 15%">Data/Hora</th>
        <th style="width: 20%">Cliente</th>
        <th style="width: 20%">Serviço</th>
        <th style="width: 15%">Veículo</th>
        <th>Caixa</th>
        <th>Valor</th>
        <th>Pago?</th>
        <th >Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @servicos_do_dia.each do |servico| %>
        <tr>
          <td><%= servico.data.strftime('%d/%m/%Y %H:%M') %></td>
          <td><%= servico.cliente.upcase %></td>
          <td><%= servico.servico.upcase %></td>
          <td><%= servico.veiculo.upcase %></td>
          <td><%= servico.caixa.upcase %></td>

          <td class="moeda"><%= numero_real(servico.valor, 2) %></td>
          <td>
            <% if servico.pago %>
              <span class="badge rounded-pill bg-success">sim</span>
            <% else %>
              <span class="badge rounded-pill bg-danger">não</span>
            <% end %>
          </td>
          <td>
            <%#= link_to 'Show', servico %>
            <%= link_to '', edit_servico_path(servico), class:'btn btn-primary rounded-pill bi bi-pencil-square text-white fs-6'  %>
            <%= link_to '', servico, method: :delete, class: 'btn btn-danger rounded-pill bi bi-trash3-fill', data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>


