<a href="/servicos/new" class="float-end fs-1"><i class="bi bi-plus-circle-fill"></i></a>
<h1 class="mt-3">Todos serviços</h1>
<div class=" d-flex justify-content-center mt-5 gap-4 flex-wrap" >
  <div class="card shadow text-center text-bg-primary" style="width: 10rem">
    <h5 class="card-header">Valor</h5>
    <div class="card-body">
      <h5 class="card-title fw-bold" style="text-shadow: 1px 1px #000"><%= numero_real(@servicos_total,2) %></h5>
    </div>
  </div>
  <div class="card shadow text-center text-bg-secondary   " style="width: 10rem">
    <h5 class="card-header" >Quantidade</h5>
    <div class="card-body">
      <h5 class="card-title fw-bold" style="text-shadow: 1px 1px #000"><%= pluralize(@servicos_quantidade, 'serviço', 'serviços') %></h5>
    </div>
  </div>
  <div class="card shadow text-center text-bg-danger" style="width: 10rem">
    <h5 class="card-header" >Pagamento</h5>
    <div class="card-body">
      <h5 class="card-title fw-bold" style="text-shadow: 1px 1px #000"><%= pluralize( @servicos_pago_pendedente , 'pendente', 'pendentes') %></h5>
    </div>
  </div>
</div>

<%= form_tag todos_servicos_path, method: :get do %>
<div class="row mt-4">
    <div class="col-sm-2 mb-2">
      <input type="date" class="form-control" name="data_search" value="<%= params[:data_search].present? ? params[:data_search] : '' %>">
    </div>
    <div class="col-sm-2 mb-2">
      <input type="text" class="form-control" name="cliente_busca" placeholder="Nome do cliente">
    </div>
    <div class="col-sm-2 mb-2">
      <%= select_tag :caixa_busca, options_for_select([["SELECIONE CAIXA", "SELECIONE CAIXA"], ["NORMAL", "NORMAL"]] + @users.map { |u| [u.nome.upcase] }, selected: "SELECIONE CAIXA"), class: "form-control" %>
    </div>
    <div class="col-sm-1 mb-2">
      <button type="submit" class="btn btn-primary">Pesquisar</button>
    </div>
    <div class="col-sm-2 mb-2">
    <a href="/servicos/todos/" class="btn btn-primary">Limpar Filtro</a>
    </div>
  </div>
<% end %>


<div class=" mt-4 hide-res">
  <table class="table ">
    <thead>
      <tr>
        <th style=""></th>
        <th style="width: 5%">Data/Hora</th>
        <th style="width: 20%">Cliente</th>
        <th >Serviço</th>
        <th >Veículo</th>
        <th>Caixa</th>
        <th>Valor</th>
        <th>Pago?</th>
        <th>Recibo</th>
        <th >Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @servicos.each do |servico| %>
        <tr>
          <td><div class="overflow-hidden" style="width:60px; height:60px"> <%= image_tag servico.imagem, width:60 if servico.imagem.present? %></div></td>
          <td>
            <%= servico.data.strftime('%d/%m/%Y') %>
            <div style="font-size:0.7rem"><%= servico.data.strftime('%H:%M') %></div>
          </td>
          <td><%= servico.cliente.upcase %></td>
          <td><%= servico.servico.upcase %></td>
          <td><%= servico.veiculo.upcase %></td>
          <td><%= servico.caixa.upcase %></td>
          <td><%= numero_real(servico.valor,2) %></td>
          <td>
            <% if servico.pago %>
              <span class="badge rounded-pill bg-success">sim</span>
            <% else %>
              <span class="badge rounded-pill bg-danger">não</span>
            <% end %>
          </td>
          <td>
            <%= link_to 'GERAR', servico_recibo_path(servico), class:'badge rounded-pill bg-secondary link-limpo' if servico.pago %>
            <%= link_to 'GERAR', '', class:'badge rounded-pill bg-danger link-limpo pe-none' unless servico.pago %>
          </td>
          <td>
            <%#= link_to 'Show', servico %>
            <%= link_to '', edit_servico_path(servico), class:'btn btn-primary rounded-pill bi bi-pencil-square text-white fs-6'  %>
            <%= link_to '', servico, method: :delete, class: 'btn btn-danger rounded-pill bi bi-trash3-fill', data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<div class="hide show-res  ">
  <% @servicos.each do |servico| %>
  <div class="d-flex justify-content-center">
    <div class="card  shadow mt-4" style="width: 95%;">
      <div class="card-header" style=" background-color: #e4e4e4;">
      <div class="row" >
        <div class="col-6" >
          <% if servico.imagem.present? %>
            <div class="" >
              <div class="overflow-hidden " style="width:7rem; height:7rem">
                <%= image_tag servico.imagem, width:100  %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="col-6" >
          <% if servico.pago %>
            <div class="badge rounded-pill bg-success fs-3  mt-3 float-end">PAGO</div>
          <% else %>
            <div class="badge rounded-pill bg-danger float-none">PAGAMENTO PENDENTE</div>
          <% end %>

           <div class="mt-2 float-end me-1">
            <%= link_to '', edit_servico_path(servico), class:'btn btn-primary rounded-pill bi bi-pencil-square text-white fs-6 shadow'  %>
            <%= link_to '', servico, method: :delete, class: 'btn btn-danger rounded-pill bi bi-trash3-fill shadow', data: { confirm: 'Apagar?' } %>
          </div>
        </div>
      </div>
      </div>

      <div class="text-center mt-2 mb-2">
        
        <div style="font-size: 1rem"><b>Data/Hora: </b> <span class="fs-5"><%= servico.data.strftime('%d/%m/%Y - %H:%M') %></span></div>
        <div style="font-size: 1rem"><b>Cliente: </b> <span class="fs-5"><%= servico.cliente.upcase %></span></div>
        <div style="font-size: 1rem"><b>Serviço: </b> <span class="fs-5"><%= servico.servico.upcase %></span></div>
        <div style="font-size: 1rem"><b>Veículo: </b> <span class="fs-5"><%= servico.veiculo.upcase %></span></div>
        <div style="font-size: 1rem"><b>Caixa: </b> <span class="fs-5"><%= servico.caixa.upcase %></span></div>
        <div style="font-size: 1rem"><b>Valor: </b> <span class="fs-5"><%= numero_real(servico.valor,2) %></span></div>
      </div>
      
    </div>
  </div>
  <% end %>
</div>


<div class="div-pagy mt-3">
  <%== pagy_bootstrap_nav(@pagy) %>
<%= link_to "Voltar", servicos_path, class: "btn btn-primary active mt-3" %>
</div>



<br>

