<a href="/servicos/new" class="float-end fs-1"><i class="bi bi-plus-circle-fill"></i></a>

<h1>Todos serviços</h1>
<div class="table-responsive mt-4">
  <table class="table">
    <thead>
      <tr>
        <th style="width: 15%">Data/Hora</th>
        <th style="width: 25%">Cliente</th>
        <th style="width: 25%">Serviço</th>
        <th>Caixa</th>
        <th>Valor</th>
        <th>Pago?</th>
        <th colspan="3">Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @servicos.each do |servico| %>
        <tr>
          <td><%= servico.data.strftime('%d/%m/%Y %H:%M') %></td>
          <td><%= servico.cliente.upcase %></td>
          <td><%= servico.servico.upcase %></td>
          <td><%= servico.caixa.upcase %></td>
          <td><%= numero_real(servico.valor,2) %></td>
          <td>
            <% if servico.pago %>
              <span class="badge rounded-pill bg-success">sim</span>
            <% else %>
              <span class="badge rounded-pill bg-danger">não</span>
            <% end %>
          </td>
          <td>
            <%#= link_to 'Show', servico %>
            <%= link_to '', edit_servico_path(servico), class:'btn btn-primary rounded-pill bi bi-pencil-square text-white fs-6'  %>
            <%= link_to '', servico, method: :delete, class: 'btn btn-danger rounded-pill bi bi-trash3-fill', data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "Voltar", servicos_path, class: "btn btn-primary active" %>

<br>

