<div><%= link_to '', new_despesa_path(tipo_params: "GERAL"), class: 'bi-plus-circle-fill fs-1 float-end ' %></div>


<h1 class="mt-2">Despesas em geral</h1>
<span class="text-danger">(exeto produtos)</span>

<form>
  <div class="row mt-4">
    <div class="col-sm-2 mb-2">
      <input type="month" class="form-control input-despesa-busca text-uppercase" name="mes_select" placeholder="Selecione..."
       value="<%= params[:mes_select].present? ? params[:mes_select] : '' %>">
    </div>
    <div class="col-sm-2 mb-2">
      <input type="text" class="form-control text-uppercase" name="nome_despesa_busca" placeholder="Nome despesa..."
       value="<%= params[:nome_despesa_busca].present? ? params[:nome_despesa_busca] : "" %>">
    </div>
    <div class="col-sm-1 mb-2">
      <button type="submit" class="btn btn-primary">Pesquisar</button>
    </div>
    <div class="col-sm-2 mb-2">
    <a href="/despesas/geral" class="btn btn-primary">Limpar Filtro</a>
    </div>
  </div>
</form>

<div class=" d-flex justify-content-center mt-3 gap-4 mb-4" >
  <div class="card shadow text-center text-bg-primary" style="width: 10rem">
    <h5 class="card-header">Valor</h5>
    <div class="card-body">
      <h5 class="card-title fw-bold" style="text-shadow: 1px 1px #000"><%= numero_real(@despesas_total,2) %></h5>
    </div>
  </div>
  <div class="card shadow text-center text-bg-secondary   " style="width: 10rem">
    <h5 class="card-header" >Quantidade</h5>
    <div class="card-body">
      <h5 class="card-title fw-bold" style="text-shadow: 1px 1px #000"><%= pluralize(@despesas_total_qnt, 'despesa', 'despesas') %></h5>
    </div>
  </div>
</div>

<table class="table mt-3 hide-res">
  <thead>
    <tr>
      <th>Data</th>
      <th>Observação</th>
      <th>Tipo</th>
      <th>Valor</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @despesas.each do |despesa| %>
      <tr>
        <td><%= despesa.data.strftime('%d/%m/%Y %H:%M') %></td>
        <td><%= despesa.observacao.upcase %></td>
        <td class="text-uppercase"><%= despesa.tipo %> <%= despesa.vale.blank? &&  despesa.tipo == "FUNCIONÁRIO" ? despesa.user&.nome.upcase : despesa.vale %></td>
        <td><%= numero_real(despesa.valor,2) %></td>
        <td>
          <%= link_to '', edit_despesa_path(despesa), class:'btn btn-primary rounded-pill bi bi-pencil-square text-white fs-6'  %>
          <%= link_to '', despesa, method: :delete, class: 'btn btn-danger rounded-pill bi bi-trash3-fill', data: { confirm: 'Tem certeza?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="hide show-res  mt-3">

  <% @despesas.each do |despesa| %>
  <div class="d-flex justify-content-center">
    <div class="card  shadow mt-4" style="width: 95%;">
      <div class="text-center mt-2 mb-2">
        <div style="font-size: 1rem"><b>Data/Hora: </b> <span class="fs-5"><%= despesa.data.strftime('%d/%m/%Y - %H:%M') %></span></div>
        <div style="font-size: 1rem"><b>Observação: </b> <span class="fs-5"><%= despesa.observacao.upcase %></span></div>
        <div style="font-size: 1rem"><b>Tipo: </b> <span class="fs-5"><%= despesa.tipo %> <%= despesa.vale.blank? &&  despesa.tipo == "FUNCIONÁRIO" ? despesa.user&.nome.upcase : despesa.vale %></span></div>
        <div style="font-size: 1rem"><b>Valor: </b> <span class="fs-5"><%= numero_real(despesa.valor,2) %></span></div>
        <%= link_to '', edit_despesa_path(despesa), class:'btn btn-primary rounded-pill bi bi-pencil-square text-white fs-6 mt-2'  %>
        <%= link_to '', despesa, method: :delete, class: 'btn btn-danger rounded-pill bi bi-trash3-fill mt-2', data: { confirm: "Apagar a despesa #{despesa.vale.blank? ? despesa.observacao.capitalize : despesa.tipo.capitalize + " " + despesa.vale.capitalize}, tem certeza?" } %>
      </div>     
    </div>
  </div>
  <% end %>
</div>

<br>
<div class="div-pagy mt-3">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>

