<div><%= link_to '', new_despesa_path, class: 'bi-plus-circle-fill fs-1 float-end ' %></div>


<h1 class="mt-2">Despesas</h1>

<form>
  <div class="row mt-4">
    <div class="col-sm-2 mb-2">
      <input type="month" class="form-control input-despesa-busca" name="mes_select" placeholder="Selecione..."
       value="<%= params[:mes_select].present? ? params[:mes_select] : "" %>">
    </div>
    <div class="col-sm-1 mb-2">
      <button type="submit" class="btn btn-primary">Pesquisar</button>
    </div>
    <div class="col-sm-2 mb-2">
    <a href="/despesas/" class="btn btn-primary">Limpar Filtro</a>
    </div>
  </div>
</form>

<div class=" d-flex justify-content-center mt-3 gap-2 flex-wrap" >
  <div class="card shadow text-center text-bg-primary" style="width: 10rem">
    <h5 class="card-header">Valor</h5>
    <div class="card-body">
      <h5 class="card-title fw-bold" style="text-shadow: 1px 1px #000"><%= numero_real(@despesas_total,2) %></h5>
    </div>
  </div>
  <div class="card shadow text-center text-bg-secondary   " style="width: 10rem">
    <h5 class="card-header" >Quantidade</h5>
    <div class="card-body">
      <h5 class="card-title fw-bold" style="text-shadow: 1px 1px #000"><%= pluralize(@despesas_total_qnt, 'despesa', 'despesas') %></h5>
    </div>
  </div>
  <% if @despesas_maior_valor %>
    <div class="card shadow text-center text-bg-danger" style="width: 10rem" title="<%= @despesas_maior_valor.tipo.upcase %>">
      <h5 class="card-header" >Maior valor</h5>
      <div class="card-body ">
        <h5 class="card-title fw-bold" style="text-shadow: 1px 1px #000" ><%= numero_real(@despesas_maior_valor.valor,2) %></h5>
      </div>
    </div>
  <% end %>
</div>

<table class="table mt-4">
  <thead>
    <tr>
      <th>Data</th>
      <th>Observação</th>
      <th>Tipo</th>
      <th>Valor</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @despesa_mensal.each do |despesa| %>
      <tr>
        <td><%= despesa.data.strftime('%d/%m/%Y %H:%M') %></td>
        <td><%= despesa.observacao.upcase %></td>
        <td class="text-uppercase <%= despesa.tipo == "VALE" ? 'text-success' : despesa.tipo == "FUNCIONÁRIO" ? 'text-danger' : '' %>"><%= despesa.tipo %> <%= despesa.vale != "" ? despesa.vale : despesa.tipo == "FUNCIONÁRIO" ? despesa.user&.nome : despesa.vale %></td>
        <td><%= numero_real(despesa.valor,2) %></td>
        <td>
          <%= link_to '', edit_despesa_path(despesa), class:'btn btn-primary rounded-pill bi bi-pencil-square text-white fs-6'  %>
          <%= link_to '', despesa, method: :delete, class: 'btn btn-danger rounded-pill bi bi-trash3-fill', data: { confirm: 'Tem certeza?' } %>
        </td>
      </tr>
      <%# binding.pry %>
    <% end %>
  </tbody>
</table>

<br>



<div class="text-center mt-3 mb-5" style="font-size: 0.5rem">
  <div class="d-flex justify-content-start gap-2">
  LEGENDA
    <div class="text-bg-success rounded-pill p-1" >DESPESA TIPO VALE</div>
    <div class="text-bg-danger rounded-pill p-1">DESPESA TIPO FUNCIONÁRIO</div>
  </div>
</div>

<div class="div-pagy">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>