<%= form_with(model: user) do |form| %>

  <div class="flash-msg hide"><%= render 'layouts/error_messages', object: form.object %></div>

  <div class="form-group mb-2">
    <%= form.label :nome %>
    <%= form.text_field :nome, class: "form-control text-uppercase" %>
  </div>

  <div class="form-group mb-2">
    <%= form.label :tipo %>
    <%= form.select :tipo,[["ADMINISTRADOR"], ["FUNCIONÁRIO"], ["FUNCIONÁRIO COM ACESSO"]],{}, class: "form-control" %>
  </div>

  <div class="form-group mb-2 div-senha">
    <%= form.label :password, 'Senha' %>
    <%= form.password_field :password, class: "form-control"  %>
  </div>

  <div class="form-group mb-2 div-senha">
    <%= form.label :password_confirmation, 'Confirme a senha' %>
    <%= form.password_field :password_confirmation, class: "form-control"  %>
  </div>

  <% if params[:desligamento] || params[:desligado] %>
    <div class="form-group mb-2">
      <%= form.label :desligamento %>
      <span style="font-size: 0.65rem" class="<%= params[:desligamento].present? || params[:desligado].present? ? 'text-danger' : 'hide' %>"> (Modifique a data de desligamento se precisar)</span>
      <%= form.date_field :desligamento, value: params[:desligamento].present? || params[:desligado].present? ? params[:desligamento] : '', class: "form-control text-uppercase" %>
    </div>
  <% end %>

  <div class="form-group mt-4">
    <%= form.submit "Salvar", class: "btn btn-primary me-2" %>
    <%= link_to "Voltar", users_path, class: "btn btn-primary active me-5" %>
    <%= link_to ' Apagar Usuário', user, method: :delete, class: 'btn btn-danger bi bi-trash3-fill', id:'apagar_user',
     data: { confirm: "Apagando o registro ele sumirá da base de dados e não será possível ter o financeiro ligado a ele. Apagará as #{@despesas_count} despesa(s) relacionadas a ele. Tem certeza?" } if params[:action] == 'edit' && @user.id != current_user.id %>
  </div>


<% end %>



<% if @user.tipo == "ADMINISTRADOR" && @user.id != current_user.id %>

  <div class="mt-2" id="div-adm" >
    <div class="text-danger fs-6" id="check-senha">
      Senha incorreta!
    </div>
    <input type="password" id="senha_adm" placeholder="digite a senha.." class="form-control w-25" >
    <button onclick="senha_adm()" class='btn btn-danger mt-2'>Permissão apagar ADM</button>
  </div>

   <script>
    $('#senha_adm').hide()
    $('#apagar_user').hide()
    $('#check-senha').hide()
    function senha_adm(){
      $('#senha_adm').show(500)
      
      event.preventDefault(teste());
    }
    function teste(){

    $('#senha_adm').change(function() {
    
    fetch("/users/json_teste?teste="+ $('#senha_adm').val() + "&id="+ '<%= @user.id %>')
    .then( response => response.json())
    .then( json => {
      //debugger
      if(json.hasOwnProperty("nome")){
       $('#apagar_user').show(500);
        $('#div-adm').hide(500);
        $('#check-senha').hide();
      }else{
        $('#apagar_user').hide(500);
        if($('#senha_adm').val() == ''){
          $('#check-senha').hide()
        }else{
          $('#check-senha').show(300)
        }
      }
      });
      })
      }
  </script>
 
<% end %>

<script>
function generateRandomCode() {
  var code = '';
  for (var i = 0; i < 6; i++) {
    code += Math.floor(Math.random() * 10);
  }
  return code;
}
  $(document).ready(function(){
  $("#user_tipo").change(function(){
    if($("#user_tipo").val() == "FUNCIONÁRIO"){
      var code = generateRandomCode();
      $("#user_password").val(code) 
      $("#user_password_confirmation").val(code)
      $(".div-senha").hide() 
    }else{
      $("#user_password").val("") 
      $("#user_password_confirmation").val("")
      $(".div-senha").show() 
    }
  })
  })

  $("#user_tipo").ready(function(){
    if($("#user_tipo").val() == "FUNCIONÁRIO"){
      var code = generateRandomCode();
      $("#user_password").val(code) 
      $("#user_password_confirmation").val(code)
      $(".div-senha").hide() 
    }else{
      $("#user_password").val("") 
      $("#user_password_confirmation").val("")
      $(".div-senha").show() 
    }
  })
</script>