<%= form_with(model: user) do |form| %>

  <div class="flash-msg hide"><%= render 'layouts/error_messages', object: form.object %></div>

  <div class="form-group mb-2">
    <%= form.label :nome %>
    <%= form.text_field :nome, class: "form-control text-uppercase" %>
  </div>

  <div class="form-group mb-2">
    <%= form.label :tipo %>
    <%= form.select :tipo,[["ADMINISTRADOR"], ["FUNCIONÁRIO"], ["FUNCIONÁRIO COM ACESSO"]],{}, class: "form-control" %>
  </div>

  <div class="form-group mb-2 div-senha">
    <%= form.label :password, 'Senha' %>
    <%= form.password_field :password, class: "form-control"  %>
  </div>

  <div class="form-group mb-2 div-senha">
    <%= form.label :password_confirmation, 'Confirme a senha' %>
    <%= form.password_field :password_confirmation, class: "form-control"  %>
  </div>

  <div class="form-group mt-4">
    <%= form.submit "Salvar", class: "btn btn-primary me-2" %>
    <%= link_to "Voltar", users_path, class: "btn btn-primary active" %>
  </div>

<% end %>

<script>
function generateRandomCode() {
  var code = '';
  for (var i = 0; i < 6; i++) {
    code += Math.floor(Math.random() * 10);
  }
  return code;
}
  $(document).ready(function(){
  $("#user_tipo").change(function(){
    if($("#user_tipo").val() == "FUNCIONÁRIO"){
      var code = generateRandomCode();
      $("#user_password").val(code) 
      $("#user_password_confirmation").val(code)
      $(".div-senha").hide() 
    }else{
      $("#user_password").val("") 
      $("#user_password_confirmation").val("")
      $(".div-senha").show() 
    }
  })
  })
</script>