<%= link_to '', new_user_path, class:'bi bi-plus-circle-fill fs-2 float-end' %>
<h1 class="mt-4">Usuários</h1>

<div class="table-responsive mt-4 mb-5">
  <table class="table">
    <thead>
    <tr>
      <th style="width: 15%">Data</th>
      <th style="width: 40%">Usuário</th>
      <th >Tipo</th>
      <th >Desligamento</th>
      <th colspan="3">Ação</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.created_at.to_date.strftime('%d/%m/%Y') %></td>
        <td><%= user.nome.upcase %></td>
        <td><%= user.tipo %></td>
        <td><%= user.desligamento.to_s == "3000-01-01" ? '' : user.desligamento.strftime('%d/%m/%Y')  %></td>
        <td>
          <%#= link_to 'Show', servico %>
          <%= link_to '', edit_user_path(user), class:'btn btn-primary rounded-pill bi bi-pencil-square text-white fs-6'  %>
          <% unless user.desligamento.to_s == "3000-01-01" %>
            <%= link_to '', edit_user_path(user, desligado: true), class: 'btn btn-secondary rounded-pill bi bi-trash3-fill' %>
          <% else %>
            <%= link_to '', edit_user_path(user, desligamento: Date.today ), class: 'btn btn-primary rounded-pill bi bi-trash3-fill' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= link_to "Voltar", root_path, class: "btn btn-primary active" %>

<br>


